/* CSS Document */
@font-face {
  font-family: 'themify';
  src: url("../fonts/themify.eot?-fvbane");
  src: url("../fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify.woff?-fvbane") format("woff"), url("../fonts/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding-top: 0px !important ; }
.navbar-brand img {
      height: 15px;
      margin-left: 15px;
      margin-top: 3px;
      width: auto;
      transition: all 300ms ease-in-out; }
@media (max-width: 479px) {
.navbar-brand img {
          margin-top: 0;
          height: 20px; } }
@media (min-width: 480px) and (max-width: 1199px) {
.navbar-brand img {
          margin-top: 0;
          height: 20px; } }
.navbar-nav li > a {  
      color: #fff !important;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase; }
.navbar a {
    padding: 15px;
    color: #262626;
    font-family: "Lato", sans-serif;
    font-weight: 400; }
.navbar-brand {
    color: #262626;
    font-family: "Lato", sans-serif; }
.home {
  background: url("../img/home-bg.png") no-repeat scroll center center/cover #262626;
  padding-top: 180px;
  min-height: 100vh;
  position: relative; }
  @media (max-width: 479px) {
    .home {
      padding-top-top: 90px; } }
  .home h2 {
    margin: 30px auto;
    position: relative; }
    .home h2:after {
      background: #C6A668;
      content: '';
      width: 80px;
      height: 4px;
      position: absolute;
      bottom: -45px;
      left: 50%;
      transform: translateX(-50%); }
 .home-slider-title-small {
    font-size: 14px;
    color: #262626;
    opacity: 1;
    max-width: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    padding: 0 45px; }
    .home-slider-title-small.inverted {
      color: #fff; }
    .home-slider-title-small:after {
      content: '';
      width: 70px;
      height: 4px;
      background: #C6A668;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%); }
  .home-slider-title-main {
    color: #262626;
    max-width: 600px;
    margin: 0 auto 30px;
    position: relative;
    padding: 0 45px; }
    .home-slider-title-main.inverted {
      color: #fff; }
  .home-slider .swiper-slide {
    padding: 0 15px; }
  .home.image-slider {
    padding-top: 0px;
    padding-bottom: 0;
    position: relative;
    background: none; }
    .home.image-slider .home-slider {
      min-height: 100vh; }
    .home.image-slider .swiper-slide {
      min-height: 100vh;
      padding: 33vh 15px 0;
      box-sizing: border-box;
      background-size: cover !important;
      background-position: center !important; }
      @media (max-width: 479px) {
        .home.image-slider .swiper-slide {
          padding-top: 120px; } }
    .home.image-slider .home-pagination {
      position: absolute;
      bottom: 30px;
      z-index: 10; }
    .home.image-slider img {
      max-width: 80%; }
.white-color {
  color: #000 !important; }
  
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }
  .swiper-slide:hover{
	  
  }
 .btn-default{
color: #C6A668;
background-color: rgba(255,255,255,0);
border-color: #C6A668;
}

    .myimg {
        width: 100%;
        height: 100%;
        background: url("/img/logo2-1.png") no-repeat;
        margin: 50px;
    }
    .myimg:hover {
        background: url("/img/logo2-2.png") no-repeat;
    }

.navbar-inverse {
  background-color: rgba(255,255,255,0) !important;
  border-color: #dbdee3 !important;
  }
 .navbar-nav >li :hover {
background-color:#dbdee3 !important; 
}
.navbar-nav li > a {
      color: #454545 !important;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      }
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: rgba(255,255,255,0) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
  }
 .background-o {
	width:100%;
	height:100%;
	background:url('https://s3-ap-northeast-1.amazonaws.com/ibighit/bts/loveyourself/flower/ly-o-flower.png') center right no-repeat;
	background-size: contain !important;
	position: absolute;
	left:0;
	z-index: -9999;
	opacity: 0.2;
}