/* CSS Document */
@font-face {
  font-family: 'themify';
  src: url("../fonts/themify.eot?-fvbane");
  src: url("../fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify.woff?-fvbane") format("woff"), url("../fonts/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="ti-"], [class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding-top: 0px !important ;
  background-color:#f0f4fa !important; }
.navbar-brand img {
      height: 15px;
      margin-left: 15px;
      margin-top: 3px;
      width: auto;
      transition: all 300ms ease-in-out; }
@media (max-width: 479px) {
.navbar-brand img {
          margin-top: 0;
          height: 20px; } }
@media (min-width: 480px) and (max-width: 1199px) {
.navbar-brand img {
          margin-top: 0;
          height: 20px; } }
.navbar-nav li > a {  
      color: #fff !important;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase; }
.navbar a {
    padding: 15px;
    color: #262626;
    font-family: "Lato", sans-serif;
    font-weight: 400; }
.navbar-brand {
    color: #262626;
    font-family: "Lato", sans-serif; }
.home {
  background: url("../img/home-bg.png") no-repeat scroll center center/cover #262626;
  padding-top: 180px;
  min-height: 100vh;
  position: relative; }
  @media (max-width: 479px) {
    .home {
      padding-top-top: 90px; } }
  .home h2 {
    margin: 30px auto;
    position: relative; }
    .home h2:after {
      background: #C6A668;
      content: '';
      width: 80px;
      height: 4px;
      position: absolute;
      bottom: -45px;
      left: 50%;
      transform: translateX(-50%); }
 .home-slider-title-small {
    font-size: 14px;
    color: #262626;
    opacity: 1;
    max-width: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    position: relative;
    padding: 0 45px; }
    .home-slider-title-small.inverted {
      color: #fff; }
    .home-slider-title-small:after {
      content: '';
      width: 70px;
      height: 4px;
      background: #C6A668;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%); }
  .home-slider-title-main {
    color: #262626;
    max-width: 600px;
    margin: 0 auto 30px;
    position: relative;
    padding: 0 45px; }
    .home-slider-title-main.inverted {
      color: #fff; }
  .home-slider .swiper-slide {
    padding: 0 15px; }
  .home.image-slider {
    padding-top: 0px;
    padding-bottom: 0;
    position: relative;
    background: none; }
    .home.image-slider .home-slider {
      min-height: 100vh; }
    .home.image-slider .swiper-slide {
      min-height: 100vh;
      padding: 33vh 15px 0;
      box-sizing: border-box;
      background-size: cover !important;
      background-position: center !important; }
      @media (max-width: 479px) {
        .home.image-slider .swiper-slide {
          padding-top: 120px; } }
    .home.image-slider .home-pagination {
      position: absolute;
      bottom: 30px;
      z-index: 10; }
    .home.image-slider img {
      max-width: 80%; }
.white-color {
  color: #000 !important; }
  
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }
  .swiper-slide:hover{
	  
  }


.navbar-inverse {
  background-color: #f0f4fa !important;
  border-color: #dbdee3 !important;
  }
 .navbar-nav >li :hover {
background-color:#dbdee3 !important; 
}
.navbar-nav li > a {
      color: #454545 !important;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      }
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: rgba(255,255,255,0) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
  }
 .background-o {
	width:100%;
	height:100%;
	background:url('../img/flower.png') center right no-repeat;
	background-size: contain !important;
	position: absolute;
	left:0;
	z-index: -9999;
	opacity: 0.2;
}
.carousel{
	margin-top: 40px !important;
}
.navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #262626;
    background-color: #fff !important;
}

section {
    width: 100%;
    float: left;
    overflow: hidden;
    min-height: 600px;
    position: relative;
}

.section-min {
        min-height: 100px;
	}
.section-min-margin {
        min-height: 100px;
        margin-top: $margin-large;
    }
.tablefont{
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  line-height: 1;
  color: #000 !important;
  }
 
.table>thead>tbody>tr>td:hover{
	background-color:#fff;
}

.band {
	background: url('../img/bts-title.png') no-repeat;
    margin-top: 100px;
	height:105px;
    width: 187px;
	background-size:cover;
}

.tbody:hover {
	background-color:#fff !important;
}

.cover{
	width: 200px;
	height: 200px;
	background-size:cover;
}

.signup{
  width: 55%;
/*  margin-left: 65px;*/
  margin-top: 12px;
  display: block;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
  background-color:#454545;
  font-size:18px;
    border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
    padding: 10px 0px;
  font-family: roboto;

}

.pbar1{
	font-size: 16px !important;
	color: #000 !important;
}
.pbar{
	font-size: 16px !important;
	color: #000 !important;
	margin-top: 20px !important;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.date{
	min-width:69px !important;
}
.month{
	min-width:89px !important;
}
.year {
	width: 90 !important;
}

.form-control2 {
  display: block;
  width: 90px;
  height: 35px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857;
/*  background-color: rgba(198, 166, 104, 0.2);
*/  background-image: none;
    border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control2:focus {
    border-color: #8e8e8e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(198, 166, 104, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(198, 166, 104, 0.6); }
  .form-control2::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control2:-ms-input-placeholder {
    color: #999; }
  .form-control2::-webkit-input-placeholder {
    color: #bebcbc; }
  .form-control2::-ms-expand {
    border: 0;
    background-color: transparent; }
  .form-control2[disabled], .form-control2[readonly], fieldset[disabled] .form-control2 {
    background-color: white;
    opacity: 1; }
  .form-control2[disabled], fieldset[disabled] .form-control2 {
    cursor: not-allowed; }

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.table-responsive {
	border: 0px !important;
}
/*.carousel .item>img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}*/